.leftColumn * {
  color: white;
}

.leftColumn {
  background-color: #131282;
}

.titleEmployment {
  padding: 0.8em;
  background-color: rgb(240, 96, 96);
}
.titleEmployment span {
  padding: 0.5em;
}

.titleEducation {
  padding-top: 1em;
}

.rightColumn {
  background-color: rgb(242, 239, 224);
}

.skills {
  padding: 2em;
}
