.mainWorkDetails {
  padding-top: 2em;
  padding-bottom: 0em;
  padding-right: 6em;
  padding-left: 6em;
}

.icon {
  margin-left: -3.5em;
  padding-right: 2.5em;
}

.dateWork {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.nameWork {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.positionWork {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
.descriptionWork {
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.descriptionWorkTwo {
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}
