.headerContainer * {
  color: white;
}
.headerContainer {
  background-color: #131282;
}

.nameWorker {
  background-color: #050148;
}

.lineSeparatored {
  padding: 1em;
  background-color: rgb(243, 181, 98);
}
