$maincolor: #03083e;

.iconos {
  padding-top: 5em;
  padding-bottom: 2em;
  color: white;
}

.footer {
  background-color: $maincolor;
}

a {
  color: white;
}

.menufooter {
  padding: 2em;
}

.footericon {
  font-size: 2em;
  margin-right: 1em;
  margin-left: 1em;
}
