.maindiv {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3em;
}

@media only screen and (min-width: 500px) {
  .textdiv {
    padding: 3em;
    text-align: justify;
  }
  .imagediv {
    padding: 3em;
  }
}

@media only screen and (max-width: 499px) {
  .textdiv {
    padding: 1.5em;
    text-align: justify;
  }
  .imagediv {
    padding: 0px;
  }
}

.title {
  margin-bottom: 1em;
  text-align: center;
}

.imgBackColor {
  background-color: #80808026;
}

.textBackColor {
  background-color: white;
}
